<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='css/registerForm.css'>
    
    <link rel="shortcut icon" href="img/iconReg.svg">

    <title>Registro Docente</title>
</head>
<body>

    <div class="register-box">
        <div class="title-box">
            <p class="title">REGISTRO DE</p>
            <p class="subtitle">DOCENTE</p>
        </div>

        <form action="/saveTeacher" method="post">
            <input type="text" name="clave_docente" id="clave_docente" placeholder="Clave" required>
            <input type="text" name="nombre" id="nombre" placeholder="Primer Nombre" required />
            <input type="text" name="segundo_nombre" id="segundo_nombre" placeholder="Segundo Nombre" required />
            <input type="text" name="apellidop" id="apellidop" placeholder="Apellido Paterno" required />
            <input type="text" name="apellidom" id="apellidom" placeholder="Apellido Materno" required />
            <input type="text" name="telefono" id="telefono" placeholder="Numero Telefonico" >
            <input type="text" name="gmail" id="gmail" placeholder="E-Mail" required />
            <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña" required />
            <input type="text" name="dias_trabajo" id="dias_trabajo" placeholder="Dias de Trabajo" required >
            <input type="text" name="horas" id="horas" placeholder="Horas de Trabajo" required />

            <div class="buttons">
                <button type="reset" alt="Cancelar" class="btnCancel" title="Cancelar">
                    Cancelar
                </button> 
                <button type="submit" alt="Agregar" class="btnAdd" title="Agregar">
                    Registrar
                </button>
            </div>
        </form>
    </div>

    <!-- TABLA DE REGISTROS -->

    <div class="table-box">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Clave</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Dias Trabajo</th>
                    <th>Hrs. Trabajo</th>
                    <th>Contacto</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach((docent) => { %>
                <tr>
                    <td> <%= docent.clave_docente %> </td>
                    <td> <%= docent.nombre + ' ' + docent.segundo_nombre %> </td>
                    <td> <%= docent.apellidop + ' ' + docent.apellidom %> </td>
                    <td> <%= docent.dias_trabajo %> </td>
                    <td> <%= docent.horas %> </td>
                    <td> <%= docent.telefono %> </td>
                    <td>
                        <a href="/deleteteachers/<%= docent.clave_docente %>" class="btnDelete">
                            <img class="userDel" src="img/iconDelete.svg" title="Borrar"/>
                        </a>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    
</body>
</html>