<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel='stylesheet' type='text/css' media='screen' href='css/horario.css'>

    <link rel="shortcut icon" href="img/iconSchule.svg">

    <title>Registro Horario</title>
</head>
<body>

    <div class="cont-box">
        <div class="form-box">
            <h1 class="title">REGISTRO DE</h1>
            <h2 class="subtitle" >HORARIO</h2>

            <form class="f-docent">
                <label>
                    <p>Docente</p>
                    <select name="clave_docente" id="clave_docente">
                        <option disabled selected >Seleccione un Docente</option>
                        <% docente.forEach((doc) => { %>
                            <option hidden value="<%= doc.clave_docente %>"></option>
                            <option value="<%= doc.primer_nombre + ' ' + (doc.segundo_nombre == null ? '' : doc.segundo_nombre) + ' ' + doc.apellidop + ' ' + doc.apellidom %>"> <%= doc.primer_nombre + ' ' + (doc.segundo_nombre == null ? '' : doc.segundo_nombre) + ' ' + doc.apellidop + ' ' + doc.apellidom %> </option>
                        <% }); %>
                    </select>
                </label>
                <button type="submit" title="Buscar">
                    <i class='bx bx-search-alt'></i>
                </button>
            </form>

            <form class="f-mat" onsubmit="addPerson(event)">
                <!-- <input type="text" id="dia" placeholder="Dia"> -->
                <select name="dia" id="dia">
                    <option disabled selected> Dia </option>
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miercoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                </select>
                
                <br>
                <label> De </label>
                <select class="from" name="from" id="from">
                    <option disabled selected> Hora </option>
                    <% for (var i = 8; i <=16;  i++ ) { %>
                        <option value="<%= i %>:00"> <%= i %>:00 </option>
                    <% } %>
                </select>

                <label> A </label>
                <select class="to" name="to" id="to">
                    <option disabled selected> Hora </option>
                    <% for (var i = 8; i <=16;  i++ ) { %>
                        <option value="<%= i %>:00"> <%= i %>:00 </option>
                    <% } %>
                </select>

                <select name="materia" id="materia">
                    <option disabled selected >Seleccione Su Materia</option>
                    <% mate.forEach((mat) => { %>
                        <option value="<%= mat.nombre %>"> <%= mat.nombre %> </option>
                    <% }); %>
                </select>
                <button type="submit"> Agregar </button>
            </form>

            <form class="form">
                <a href="/dashboard" type="button" alt="Cancelar" class="btnCancel" title="Cancelar">
                    Cancelar
                </a>
                <button id="btnAdd" type="submit" alt="Agregar" class="btnAdd" title="Agregar">
                    Registrar
                </button>
            </form>

            <!-- TABLA DE REGISTROS -->

            <div class="table-box">
                <table class="styled-table" id="schedule">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Horas</th>
                            <th>Materia</th>
                        </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    
</body>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.2.11/jspdf.plugin.autotable.min.js"></script>
<script src="js/addrow.js"></script>
<script src="js/horario.js" ></script>
</html>